<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My resume</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Macondo&family=Outfit:wght@100..900&family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="firstdiv">
    
        <h1>Kartik ulli</h1>
        <p>A web developer</p>
        
    </div>
    <div class="seconddiv">
        <img src="./images/my photo.jpeg" alt="" class="my">
        
    </div>
    <div class="seconddiv">
        <p id="hello">Hello</p>
    </div>
    <div>
        <p class="ditail">I am a full-stack web developer. I'm an engineering <br> student studying computer science and engineering.</p>
    </div>
    <div class="seconddiv" >
        <h1 class="yellow">My skill </h1>
    </div>
    <div class="skilldiv">
        <img src="./images/images.png" class="skill" alt="c programming">
        <p class="ditail" id="skill">"Proficient in C programming, with over 170 problems solved on Torii Minds, demonstrating strong problem‑solving ability."</p>
    </div>
    <div class="skilldiv">
        <img src="./images/Features_Of_Python_1_f4ccd6d9f7.jpg" class="skill" width="310px" alt="Phython">
        <p class="ditail" id="skill">"I am currently learning Python programming and have already built a solid foundation of knowledge."</p>
    </div>
    <div class="skilldiv">
        <img src="./images/frontend-skills.jpg" class="skill" width="310px" alt="front end develoment">
        <p class="ditail" id="skill">"I am now a front-end developer with strong expertise in HTML, CSS, Bootstrap, and Canva design editing."</p>
    </div>
    <div class="seconddiv" >
        <h1 class="yellow">Get in Touch </h1>
    </div>
    <div class="contact">

    <a href="mailto:kartiksagar20070807@gmail.com"><button class="but">CONTACT ME</button></a>
    </div>
    
    <footer>
        <nav>
        <a href="https://www.linkedin.com/in/Kartik-ulli/">Linkedin</a>
        <a href="https://x.com/Kartikulli">Twitter</a>
        <a href="https://www.instagram.com/Kartik_sagar_07">Instagram</a>
        
        <p> ©Made with ❤️ by Kartik</p>
        </nav>
    </footer>
</body>
</html>