*{
    margin: 0px;
}
.firstdiv{
    background-image: url(/images/background.jpg);
    height: 650px;
    filter: brightness(90%);
    opacity: 0.9;
}

* {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.firstdiv h1{
    color: antiquewhite;
    font-size: 130px;
    text-align: center;
    padding-top: 100px;
  font-family: "Macondo", cursive;
  font-weight: 400;
  font-style: normal;
}
p,.yellow{
    color: rgb(255, 208, 147);
    font-size: 40px;
    text-align: center;
    
}
.yellow{
    margin-top: 100px;
}
.seconddiv{
    display: flex;
    justify-content: center;
}
.my{
    width: 300px;
    border-radius: 50%;
    margin-top: 50px;
    display: block;
     animation: motionup 2s ease-out;
    
}

.ditail{

    color: black;
    font-size: 30px;
}
#hello{
    font-size: 40px;
    
}
#skill{
    font-size: 20px;
}
.skill{
    float: left;

}
.skilldiv{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    width: 900px;
    margin-left: 25%;
}
.skilldiv p{
    margin-top: 50px;
}
.contact{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.but{
    background-color: rgb(255, 208, 147);
    width: 150px;
    height: 40px;
    border-radius: 10%;
}
footer{
    background-color: antiquewhite;
    height: 300px;
    margin-top: 100px;
    display: flex;
    justify-content: center;

    
}
footer a{
    margin: 30px;
    margin-top: 60px;
    text-decoration: none;
    display: inline-block;
    
}
footer p{
    display: block;
    clear: both;
    font-size: 20px;
}
#table{
    background-color: white;
    

}
/* .practice{
    height: 100px;
    background-color: black;
    width: 50%;
    justify-content: center;
    margin-left: 25%;
    animation: motionup 1s ease-out;
     animation-timeline: view();
} */
.firstdiv h1.show{
    animation: motionside 2s ease-out;
    
}
.firstdiv p.show{
    animation: motionsideback 2s ease-out;
}
#hello, .seconddiv p .show{
    animation: motionside 2s ease-out;
}
.skill.show{
    animation: motionside 2s ease-out;
}
.table.show{
    animation: motionup 2s ease-out;
}
.but.show{
    animation: motionup 2s ease-out;
}
@keyframes motionup {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
    
}
@keyframes motionside {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
    
}
@keyframes motionsideback {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
    
}
@media(max-width: 600px){
   

    
    .firstdiv{
        height: 400px;
    }
    .firstdiv h1{
        padding-top: 150px;
        font-size: 70px;
        text-align: center;
        display: block;
    }
    p{
        font-size: 30px;
    }
    .firstdiv{
        height: 450px;
    }
    .skill{
        float: none;
        margin-left: 25px;
        
    }
    .skilldiv p{
    margin-top: 25px;
}
    .skilldiv{
        display: block;
        width: 100%;
        margin-left: 0.1px;
    }
}